<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mark's Simple CMS Script</title>
  </head>
  <body>
    <h1>Mark's Simple CMS Script</h1>
    <p>
    This is a simple CMS script written by Mark LaDoux as an educational
    tool to learn how a CMS works deep inside, and to gain a greater
    understanding of the Slim Framework. If you are seeing this page,
    you've gotten a hold of an early edition, where '/' is not defined
    in either the system or any of the modules that may be present.
    </p>
    <p>
    Please note, this script was only written as a learning excersize, and
    as such, is probably not fit for production use. It was never intended
    to be used in the wild, and if you choose to use it for anything of
    import, you do so at your own risk. You have been warned!
    </p>
  </body>
</html>
